:root {
    --color-1: 23, 30, 38;
    --color-2: 24, 32, 40;

    --background-1: 38, 51, 62;
    --background-2: 50, 68, 82;

    --gradient-1: 180deg, rgba(24,32,40,1) 0%, rgba(24,32,40,1) 50%, rgba(38,51,62,1) 100%;

    --box-shadow-1: 0 0 5px #171e26;

    --width-0: 10px;

    --height-0: 100vh;

    --transition: all 500ms ease-in-out;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: over;
    background: rgba(var(--color-2), 0.6);
    background: linear-gradient(var(--gradient-1));
    height: var(--height-0);
}

canvas {
    z-index: -1;
}

/* width */
::-webkit-scrollbar {
    width: var(--width-0);
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(var(--color-1));
    box-shadow: var(--box-shadow-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(var(--background-1));
    transition: var(--transition-1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--background-2)); 
}